.customBtn {
  background-color: var(--color-orange);
  padding: 0.5rem 1.5rem;
  color: white;
  border: 1px solid black;
  border-radius: 0.75rem;
  font-weight: 600;
}
.customBtn:hover,
.customBtn:focus {
  cursor: pointer;
}
