.navbar li {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.navbar ul {
  padding: 0;
  list-style: none;
}
:is(.navigationLink, .others) {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  align-items: center;
}

.logo__Img {
  max-width: 150px;
}

:is(.navigationLink, .others) {
  font-size: 1.5rem;
  font-weight: 300;
}
.others__shoppingCart {
  display: flex;
  position: relative;
}
.others__shoppingCart {
  cursor: pointer;
}
.others__shoppingCart__items {
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 27px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.navigationLink .activeLink {
  font-weight: 400;
}
/* Add underline on navigation link home,shop,contacts */
.navigationLink > li > a {
  position: relative;
}
.navigationLink > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-orange);
  transition: width 0.3s ease;
}
.navigationLink > li > a:hover::after {
  width: 100%;
}
