.navbar li {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar ul {
  padding: 0;
  list-style: none;
}
:is(.navigationLink, .others) {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.logo__Img {
  max-width: 150px;
}

:is(.navigationLink, .others) {
  font-size: 1.5rem;
  font-weight: 300;
}
.others__shoppingCart {
  display: flex;
  position: relative;
}
.others__shoppingCart__items {
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 27px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd8432;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
