.navbar {
  padding: 0.5rem;
}
.navItems li {
  list-style: none;
}
.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.navItems ul {
  padding: 0;
  list-style: none;
}
:is(.navigationLink, .others) {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  align-items: center;
}
.others {
  gap: 2rem;
}

.logo__Img {
  max-width: 150px;
}

:is(.navigationLink, .others) {
  font-size: 1.5rem;
  font-weight: 300;
}
.others__shoppingCart {
  display: flex;
  position: relative;
}
.others__shoppingCart {
  cursor: pointer;
  padding-right: 20px;
}
.others__shoppingCart__items {
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 27px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.navigationLink .activeLink {
  font-weight: 400;
}
/* Add underline on navigation link home,shop,contacts */
.navigationLink > li > a {
  position: relative;
}
.navigationLink > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-orange);
  transition: width 0.3s ease;
}
.navigationLink > li > a:hover::after {
  width: 100%;
}
#showNavBar {
  display: none;
}
:is(.openBtn, .closeBtn) {
  display: none;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 600px) {
  .navbar {
    height: 50px;
    background-color: #f5f5dc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  :is(.openBtn, .closeBtn) {
    display: block;
  }
  .closeBtn {
    align-self: flex-end;
  }
  .navItems {
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 2rem;
    position: fixed;
    top: 0px;
    left: 100%;
    padding: 0rem;
    z-index: 8;
    transition: 0.5s ease;
  }
  .others__shoppingCart {
    justify-content: center;
  }
  /* Item in the cart */
  .others__shoppingCart__items {
    width: 40px;
    height: 40px;
    left: 54%;
    top: -18px;
  }
  /* cart icon */
  .others__shoppingCart > img {
    width: 50px;
  }
  .logo {
    display: none;
  }
  :is(.navigationLink, .others) {
    gap: 2rem;
    flex-direction: column;
  }
  .navItems > li {
    width: 100%;
  }

  :is(.navigationLink > li, .others > li) {
    width: 100%;
  }
  :is(.navItems > li > a, .navigationLink > li > a, .others > li > a) {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navigationLink > li > a::after {
    background-color: unset;
  }

  #showNavBar:checked ~ .navItems {
    left: 0;
  }
  #showNavBar:checked ~ .openBtn {
    display: none;
  }
}
