.productSize__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.productSize__btns {
  display: flex;
  gap: 0.5rem;
}
.productSize__btns > button {
  padding: 0.5rem;
  min-width: 50px;
  cursor: pointer;
  background-color: white;
  border: 2px solid var(--color-dark-gray);
}
.productSize__btns > button:hover {
  background-color: var(--color-orange);
  color: white;
}
