.all_product_container {
}
.title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.all_product_category {
  display: flex;
  gap: 0.5rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
}

.all_product_title__name {
  color: var(--color-orange);
}

:is(
    .all_product_category,
    .all_product_category > input[type="checkbox"],
    .all_product_category > label
  ) {
  cursor: pointer;
}

.categoriesForm input[type="checkbox"] {
  accent-color: orange;
}
