.shopFilter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopFilter__resultMsg {
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  .shopFilter__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
