#checkoutPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#checkoutPage > main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  height: 100%;
}
#checkoutPage > footer {
  margin-top: auto;
}
.formSectionContainer {
  padding: 0.5rem;
}
#userInfoForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#userInfoForm input {
  height: 2.5rem;
  padding: 0.25rem;
  line-height: 1.2;
  border: 1px solid gray;
  border-radius: 6px;
  width: 100%;
}

:is(.userNameFields, .userLocationsFields) {
  display: flex;
  gap: 0.5rem;
}

.checkoutConfirmationMsg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 2rem;
}
.checkoutConfirmationMsg > div {
  display: grid;
  gap: 0.5rem;
  align-items: start;
}
.checkoutConfirmationMsg > div > img {
  justify-self: center;
}
.checkoutConfirmationMsg::backdrop {
  background-color: #fcc79f;
  opacity: 0.3;
}
@media screen and (max-width: 600px) {
  :is(.userNameFields, .userLocationsFields) {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #checkoutPage > main {
    height: auto;
  }
}
