.loadingContainer {
  height: 100%;
  display: grid;
  place-items: center;
}

.contacts__page {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
.contacts__page > main {
  padding: 1rem;
}
.contacts__page > footer {
  margin-top: auto;
}
