.singleProductPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.loader__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleProductPage > main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

.singleProduct__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.singleProduct__img {
  border: 2px solid var(--color-dark-gray);
  height: 500px;
  padding: 4rem;
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.singleProduct__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.singleProduct__title {
  font-size: 2.5rem;
}

.singleProduct__descriptions {
  border-top: 1px solid var(--color-dark-gray);
  font-size: 1rem;
  font-weight: 300;
}

.singleProduct__price {
  font-size: 1.5rem;
  color: var(--color-orange);
  font-weight: 800;
}

.singleProduct__price__title {
  color: black;
  font-weight: 400;
}

.singleProduct__action {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.singleProductPage > footer {
  margin-top: auto;
}

@media screen and (max-width: 600px) {
  .singleProductPage > main {
    margin-top: 0rem;
  }
  .singleProduct__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
  .singleProduct__title {
    font-size: 2rem;
  }
  .singleProduct__details {
    align-items: flex-start;
  }
  .singleProduct__action {
    flex-direction: column;
  }
}
