.loadingScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleContact__page {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.user__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.user__info__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.user__img {
  max-width: 400px;
  justify-self: center;
  border-radius: 1rem;
}
.card__info {
}
.card__info__fullName {
  font-size: 2rem;
  text-transform: capitalize;
}
.card__info_bold {
  font-weight: bolder;
}
.singleContact__page > footer {
  margin-top: auto;
}
@media screen and (max-width: 600px) {
  .user__container {
    padding: 1rem;
  }
  .user__info__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
